<div class="card">
  <div class="card-header">
    Acerca de
  </div>
  <div class="card-body">
    <h5 class="card-title">Proyecto Seminario de Software</h5>
    <p class="card-text">Presentado por Loreste Marcel, con la intencion de poder pasar la clase :V </p>
    
  </div>
</div>