<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Presupuestos presonales Loreste</h1>
    <p class="lead">Proyecto del I-Parcial seminario de software</p>
  </div>
</div>